.Register section {
  max-width: 420px;
  min-height: 400px;
  padding: 1rem;
  margin-top: 10rem;
}

.Register form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.Register a,
.Register a:visited {
  color: #716561;
}

.Register input[type='text'],
.Register input[type='password'],
.Register input[type='email'],
.Register button,
.Register textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.Register label,
.Register button {
  margin-top: 1rem;
}

.Register label {
  display: flex;
  align-items: center;
}

.Register button {
  padding: 0.5rem;
}

.Register .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #64b6ac;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.Register .instructions > svg {
  margin-right: 0.25rem;
}

.Register .offscreen {
  position: absolute;
  left: -9999px;
}

.Register .hide {
  display: none;
}

.Register .line {
  display: inline-block;
}
