.SearchBar {
  margin: 1rem auto;
}

.SearchBar input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 80%;
  border: none;
  box-shadow: var(--box-shadow);
}

.SearchBar .results {
  border: 1px solid var(--brown);
  background: white;
  border-radius: 0.5rem;
  padding: 0.25rem;
  text-align: left;
  margin: 0.25rem auto;
  z-index: 1;
  width: 25%;
  position: fixed;
}

.SearchBar a {
  display: block;
  font-size: 1rem;
}

.SearchBar a:hover {
  background-color: var(--highlight-color);
  text-decoration: none;
  color: var(--nav-color);
  font-weight: 500;
}

.SearchBar .hidden {
  display: none;
}
